*.in
*.la
*.lo
*.m4
*.o
*.so
*~
.deps
.libs
autom4te.cache/
build/
config.*
configure
!config.m4
docs/*.html
include
INSTALL
install-sh
libtool
libvirt-php-*.tar.gz
ltmain.sh
Makefile*
!Makefile.frag
missing
mkinstalldirs
run-tests.php
tools/generate-api-docs
tools/generate-api-docs.dSYM
