*.o
*.so
*.lo
*.la
*.in
*~
Makefile
Makefile.global
aclocal.m4
acinclude.m4
config.guess
config.sub
config.log
config.status
configure
missing
install-sh
INSTALL
docs/*.html
build/
autom4te.cache/
ltmain.sh
mkinstalldirs
run-tests.php
libvirt-php-*.tar.gz
